<header id="top">

  <div class="row">

      <div class="header-content twelve columns">

          <h1 id="logo-text">
              <a title="">CodeNerd</a>

          </h1>
          <p id="intro"><strong><font color="red">Hello @User.Identity.Name!</font>, Eat, sleep, games, and code!</strong></p>

      </div>
  </div>

  <nav id="nav-wrap">

      <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
      <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>
      <div class="row">
          <ul id="nav" class="nav">
              <li>
                  <a [routerLink]="['']" routerLinkActive="router-link-active" >Home</a>
              </li>
              <li>
                <a [routerLink]="['/about-me']" routerLinkActive="router-link-active">About Me</a>
              </li>
              <app-login-form></app-login-form>
              <app-register-form></app-register-form>
          </ul>
          <!-- end #nav -->
          <ul id="nav" class="nav" style="float: right">
              <form>
                  <li>
                      <input type="text" name="search" placeholder="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }"
                             class="text-search">
                  </li>
                  <li>
                      <input type="submit" value="Search" class="submit-search">
                  </li>
              </form>
          </ul>
      </div>

  </nav>
  <!-- end #nav-wrap -->



</header>
