<li>
  <!-- Button to open the modal login form -->
  <a href="javascript:void(0);" onclick="document.getElementById('id02').style.display='block'">Register</a>

  <!-- The Modal -->
  <div id="id02" class="modal">
    <span onclick="document.getElementById('id02').style.display='none'" class="close"
      title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" method="post">
      <div class="imgcontainer">
        <img src="~/images/user-03.png" alt="Avatar" class="avatar">
      </div>


      <div class="group">
        <label for="cUsername">Username <span class="required">*</span></label>
        <input type="text" size="35" />
      </div>
      <div class="group">
        <label for="cUsername">Password <span class="required">*</span></label>
        <input type="password" size="35" />
      </div>
      <div class="group">
        <label for="cUsername">Email <span class="required">*</span></label>
        <input type="text" size="35" />
      </div>

      <div class="group">
        <label for="Roles">Choose a role:</label>
        <select>
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
      </div>

      <div class="group">
        <label for="cUsername">PhoneNumber <span class="required">*</span></label>
        <input type="number" size="35" width="300" />
      </div>
      <button type="submit" class="submit">Submit</button>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id02').style.display='none'"
          class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>
