<footer>

  <div class="row">

    <div class="twelve columns">

    </div>

    <div class="six columns info">

      <h3>About This blog</h3>

      <p>
        I started this blog in 2017. I wanted to share some knowledge and hoped it would help me with my consulting job.
        With time though, it became something else entirely. I discovered that I really enjoy writing about software.

        Blogging is a lot like a role-playing game, where you measure levels by the number of posts, visitors and
        comments. There’s also a lot of fun in owning your own site, designing it and improving it.

        Writing a Blog is a lot of hard work though. Research is required for almost every post and the editing process
        can be endless. The upside is that once I research a topic and explain it in writing to others, I often discover
        that I understand it myself.

      </p>



    </div>

    <div class="four columns">

      <h3>Follow me on</h3>
      <ul class="social-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-skype"></i></a></li>
      </ul>

    </div>

    <div class="two columns">
      <h3 class="social">Navigate</h3>

      <ul class="navigate group">
        <li>
          <a>Home</a>
        </li>
        <li>
          <a>About Me</a>
        </li>
        <li>
          <a>Create Post</a>
        </li>
      </ul>
    </div>

    <p class="copyright">
      &copy; Copyright 2014 Keep It Simple. &nbsp; Design by <a title="Styleshout"
                                                                href="http://www.styleshout.com/">Styleshout</a>.
    </p>

  </div> <!-- End row -->

  <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-chevron-up"></i></a></div>

</footer> <!-- End Footer-->
