<div id="content-wrap" *ngIf="post">

  <div class="row">

    <div id="main" class="twelve columns">

      <article class="entry">

        <header class="entry-header">

          <h2 class="entry-title">
            {{post.title}}
          </h2>

          <div class="entry-meta">
            <ul>
              <li>{{post.date | date:"MM/dd/yy h:mm:ss a"}}</li>
              <span class="meta-sep">&bull;</span>
              <li>
                <a href="#" title="" rel="category tag">{{post.genre}}</a>
              </li>
              <span class="meta-sep">&bull;</span>
              <li>By {{post.username}}</li>
            </ul>
          </div>

        </header>

        <div class="entry-content-media align-center">
          <div class="post-thumb">
            <img src="~/BlogImages/@Model.Post.Image" height="600dp" width="600dp">
          </div>
        </div>

        <div class="entry-content">
          <p class="lead">{{post.summary}}</p>
          <p>{{post.content}}</p>
        </div>

        <ul class="post-nav group">

          <li class="prev"><a rel="prev"><strong>Previous Article</strong></a></li>

          <li class="next"><a rel="next"><strong>Next Article</strong></a></li>

        </ul>

      </article>

      <!-- Comments
          ================================================== -->
      <div id=comment *ngIf="post.comments">
        <div id="comments">
          <h3>{{post.comments.length}} Comments</h3>
          <!-- commentlist -->
          <ol class="commentlist" *ngFor="let comment of post.comments">


            <li class="depth-1">

              <div class="avatar">
                <img width="50" height="50" class="avatar" src="~/images/user-03.png" alt="">
              </div>

              <div class="comment-content">

                <div class="comment-info">
                  <cite>{{comment.username}}</cite>

                  <div class="comment-meta">
                    <time class="comment-time"><strong>{{comment.date | date: "MM/dd/yy h:mm:ss a"}}</strong></time>
                  </div>
                </div>
                <div class="comment-text">
                  <p>{{comment.commentContent}}</p>
                </div>
              </div>
            </li>

          </ol> <!-- Commentlist End -->
        </div>
        <!-- respond -->
        <div class="respond">

          <h3>Leave a Comment</h3>

          <!-- form -->
          <form name="contactForm" method="post">
            <fieldset>

              <div class="group">
                <label for="cName">Name <span class="required">*</span></label>
                <input type="text" size="35" />
              </div>

              <div class="group">
                <label for="cEmail">Email <span class="required">*</span></label>
                <input type="text" size="35">
              </div>
              <div class="message group">
                <label for="cMessage">Message <span class="required">*</span></label>
                <textarea rows="10" cols="50"></textarea>
              </div>
              <button type="submit" class="submit">Submit</button>

            </fieldset>
          </form> <!-- Form End -->

        </div> <!-- Respond End -->

      </div> <!-- Comments End -->


    </div> <!-- main End -->

  </div> <!-- end row -->

</div> <!-- end content-wrap -->
