<body>
  <app-top-bar></app-top-bar>
  <div class="container">
    <main role="main" class="pb-3">
      <router-outlet></router-outlet>
    </main>
    </div>
<app-bottom-bar></app-bottom-bar>
</body>

